doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//unpkg.com/iview/dist/styles/iview.css')
  body
    block content
    script(src="//vuejs.org/js/vue.min.js")
    script(src='//unpkg.com/iview/dist/iview.min.js')
